## DataFrame의 함수 사용하기

In [0]:
# 우선 실행해 주세요
import pandas as pd
import numpy as np

####  중간고사, 학생들의 국영수사과 성적표

|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 | 
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

In [2]:
columns = ["반","이름","국어","영어","수학","사회","과학"]
scores = [["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]]

df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

## 문제 1. 평균 구하기

* **국어 성적이 80점이 넘는 학생**들에 대한 **수학 성적의 평균**을 구해주세요

In [3]:
# 우선 실행해 주세요
df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer1`에 담아주세요

In [6]:
# 정답을 입력해주세요
df[df.국어 > 80].수학.mean()

79.75

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_almost_equal

assert 'answer1' in globals(), "결과를 answer1 변수에 담아주세요!, answer1 값을 보고 평가합니다."

A = 79.75

assert_almost_equal(A,answer1,
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!

## 문제 2. 정렬하기

* 수학 성적 상위 3명에 대한 **수학 성적**을 `numpy.array`로 가져와 주세요.

In [0]:
# 우선 실행해 주세요
df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer2`에 담아주세요

In [0]:
# 정답을 입력해주세요
answer2 = df.수학.sort_values(ascending=False)[:3]

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [20]:
from numpy.testing import assert_almost_equal

assert 'answer2' in globals(), "결과를 answer2 변수에 담아주세요!, answer2 값을 보고 평가합니다."

A = np.array([95,92,90])

assert_almost_equal(A,answer2,
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!

## 문제 3. Dataframe에 새로운 연산 적용하기

* 모든 과목의 성적이 70점이 넘는지 유무를 확인하는 함수를 만들어 Dataframe에 적용한 후, `통과`라는 열에 담아주세요

|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 | 통과 |
|----|  ----   | --- |---| --- | --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 | False |
|1반 |호동 |91 |75 |90 | 68 | 85 | False | 
|2반 |윤호 |86 |76 |42 | 72 | 88 | False |
|2반 |성진 |77 |92 |52 | 60 | 80 | False |
|3반 |서형 |75 |85 |85 | 92 | 95 | True  |
|3반 |대근 |96 |90 |95 | 81 | 72 | True  |
|4반 |준호 |91 |81 |92 | 81 | 73 | True  |

In [22]:
# 우선 실행해 주세요
answer3 = pd.DataFrame(scores,columns=columns)
answer3

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer3`에 담아주세요

In [0]:
# 정답을 입력해주세요
passed = (answer3.drop(columns=['반', '이름']) > 70).all(axis=1)
answer3['통과'] = passed

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [27]:
from numpy.testing import assert_almost_equal

assert 'answer3' in globals(), "결과를 answer3 변수에 담아주세요!, answer3 값을 보고 평가합니다."

A = np.array([False, False, False, False,  True,  True,  True])

assert "통과" in answer3.columns, "answer3에 통과라는 이름의 열을 만들어주세요"

assert_almost_equal(A,answer3.통과.values,
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!