## DataFrame의 Indexing 이해하기

In [0]:
# 우선 실행해 주세요
import pandas as pd
import numpy as np

####  중간고사, 학생들의 국영수사과 성적표

|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 | 
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

In [0]:
columns = ["반","이름","국어","영어","수학","사회","과학"]
scores = [["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]]

df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

## 문제 1. 열 가져오기

* 데이터프레임에 있는 모든 학생의 이름을 `numpy.array`로 가져와 주세요.

In [0]:
# 우선 실행해 주세요
df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer1`에 담아주세요

In [0]:
# 정답을 입력해 주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_equal

assert 'answer1' in globals(), "결과를 answer1 변수에 담아주세요!, answer1 값을 보고 평가합니다."

A = np.array(['승기', '호동', '윤호', '성진', '서형', '대근', '준호'],
             dtype=object)

assert_array_equal(A, answer1, 
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!

## 문제 2. 새로운 열 추가하기

* 전과목 성적 평균이 80점을 넘기면 시험에 통과하고, 못 넘기면 떨어진다. `통과유무`라는 열을 만들고, 80점을 넘긴 학생들은 `True`, 못넘긴 학생들은 `False`으로 만들어 주세요.

|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 | 통과유무 |
|----|  ----   | --- |---| --- | --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 | False|
|1반 |호동 |91 |75 |90 | 68 | 85 | True |
|2반 |윤호 |86 |76 |42 | 72 | 88 | False|
|2반 |성진 |77 |92 |52 | 60 | 80 | False|
|3반 |서형 |75 |85 |85 | 92 | 95 | True |
|3반 |대근 |96 |90 |95 | 81 | 72 | True |
|4반 |준호 |91 |81 |92 | 81 | 73 | True |

In [0]:
# 우선 실행해 주세요!
answer2 = pd.DataFrame(scores,columns=columns)
answer2

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer2`에 담아주세요

In [0]:
# 정답을 입력해 주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_equal
from pandas.testing import assert_index_equal

assert 'answer2' in globals(), "결과를 answer2 변수에 담아주세요!, answer2 값을 보고 평가합니다."

A_data = np.array([False,  True, False, False,  True,  True,  True])

assert "통과유무" in answer2.columns, "answer2에 통과유무라는 열을 만들어주세요"
assert_array_equal(answer2.통과유무.values, A_data)

print("정답입니다!!!")

정답입니다!!!

## 문제 3. 행 추가하기

* 다음과 같이, 데이터 프레임의 마지막 행으로 새로운 학생(`은령`)의 성적을 추가해 보세요.


|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 |
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |
|**4반** |**은령** |**95** |**96** |**97** |**91** |**92**|

In [0]:
# 우선 실행해 주세요

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer3`에 담아주세요

In [0]:
# 정답을 입력해 주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_equal
from pandas.testing import assert_index_equal

assert 'answer3' in globals(), "결과를 answer3 변수에 담아주세요!, answer3 값을 보고 평가합니다."

A_data = np.array(['4반', '은령', 95, 96, 97, 91, 92], dtype=object)

assert_array_equal(answer3.iloc[-1].values, A_data)

print("정답입니다!!!")

정답입니다!!!

## 문제 4. 조건에 따른 Indexing 하기

* 모든 과목이 최소 70점이 넘는(>70) 학생들의 이름을 `numpy.array`로 가져와 주세요.


|반   | 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 |
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

In [0]:
# 우선 실행해 주세요
df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer4`에 담아주세요

In [0]:
# 정답을 입력해 주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_equal
from pandas.testing import assert_index_equal

assert 'answer4' in globals(), "결과를 answer4 변수에 담아주세요!, answer4 값을 보고 평가합니다."

A_data = np.array(['서형', '대근', '준호'], dtype=object)

assert_array_equal(answer4.astype(np.object), A_data)

print("정답입니다!!!")

정답입니다!!!